body {
    font-family: $font1;
    font-size: $font-size1;
    background-color: $color3;
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 60px;
    background-color: $color2;
    color: $color3;
}

.icon-github {
    width: 30px;
    margin: 0 20px;
}

.section-input, 
.list-repositories {
    max-width: 500px;
    padding: 10px;
}

.section-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px auto 0;
}

.section-input input {
    font-family: $font1;
    width: 246px;
    padding: 8px;
    border: 2px solid $color4;
    border-radius: 5px;
    outline: none;
}

.btn-search {
    background-color: $color3;
    color: $color2;
    padding: 8px 12px;
    border-radius: 5px;
    border: 2px solid $color2;
    text-transform: uppercase;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    transition: all 0.2s;
}

.btn-search:hover {
    background-color: $color2;
    color: $color3;
}

.list-repositories {
    padding: 10px;
    margin: 20px auto;
}

.list-repositories ul {
    padding: 0;
    margin-bottom: 40px;
    border: 2px solid $color2;
    border-radius: 5px;
    list-style: none;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transition: transform .2s
}

.list-repositories ul:hover {
    transform: scale(1.04);
}

.list-repositories ul h2 {
    padding: 10px;
    margin: 0;
    width: 100%;
    font-size: $font-size2;
    background-color: $color2;
    color: $color3;  
    text-align: center;
    box-sizing: border-box;
}

.list-repositories ul li {
    padding: 10px 20px;
    overflow: hidden;
    overflow: auto;
}

.list-repositories ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color2;
    border: 2px solid $color2;
    border-radius: 5px;
    padding: 10px 0;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    transition: all 0.2s;
}

.list-repositories ul li a:hover {
    background-color: $color2;
    color: $color4;
}

.footer {
    width: 100%;
    height: 50px;
    background-color: $color2;
    color: $color3;
    position: fixed;
    bottom: 0px;
    text-align: center;
    font-weight: bold;
}

@media screen and (max-width: 400px) {
    .section-input input {
        width: 230px;
    }
}

@media screen and (max-width: 360px) {   
    .section-input input {
        width: 90%;
    }

    .section-input div {
        text-align: center;
    }

    .btn-search {
        margin-top: 10px;
    }
}